section{
    text-align: center;
    padding: 2rem 0;
}

mat-form-field{
    width: 60%;
    padding: 3rem;
}

.dialog-buttons{
    width: 100%;
}

.dialog-buttons button{
    width: 40%;
    margin: auto;
}