<section class="edit-todo-dialog">
    <h1 mat-dialog-title>EDIT TODO</h1>
    <div mat-dialog-content>
        <mat-form-field class="todo-input" appearance="legacy">
            <mat-label>Edit todo</mat-label>
            <input
                matInput
                type="text"
                class="edit-todo" 
                placeholder="What do you want to do?" 
                [(ngModel)]="data.title"
            >
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-buttons">
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
        <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
</section>