<app-todo></app-todo>

<!-- <p>Today is {{today | date:'dd/MM/YYYY'}}</p>
<p>Example of currency pipe {{price | currency : 'EUR'}}</p>
<input type="text" placeholder="Enter your name" name="name" id="username" #username>
<button (click)="getName(username.value)">Get name</button>
<app-card #card>
    <div #cardHeader></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, odio consequatur animi quas corporis odit deleniti reiciendis facere cupiditate, porro laborum. Nobis, corporis perferendis. Eius accusantium laboriosam ducimus ad obcaecati.</p>
    <div #cardFooter>
        <button>cancel</button>
        <button>ok</button>
    </div>
</app-card> -->