span{
    display: inline-block;
    text-align: left;
    width: 50%;
    padding-left: 2rem;
}

button{
    float: right;
    width: 10%;
    padding: 5px;
}

mat-slide-toggle{
    width: 20%;
    position: relative;
    top: 10px;
}
:host ::ng-deep  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #46a35e;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #a8dab5;
}